<!DOCTYPE html>
<html class="supports-fontface" lang="{{ shop.locale }}">
  <head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K5TNZ53');</script>
  <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <title>
      {{ shop.name }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
                
<!--MB_OPC-->
<script data-cfasync='false'>   
              if(window.location.pathname=='/securecheckout'){
              document.title = 'Secure checkout';
              var css = 'body > :not(#cartLoader) {display:none !important}',head = document.head || document.getElementsByTagName('head')[0],style = document.createElement('style');  
              head.appendChild(style);style.appendChild(document.createTextNode(css));        
              var svg = "<svg style='position:fixed;top:100px;left:50%;margin-left:-100px;' width='200px'  height='200px'  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-rolling' style='background: none;'><circle cx='50' cy='50' fill='none' ng-attr-stroke='{{config.color}}' ng-attr-stroke-width='{{config.width}}' ng-attr-r='{{config.radius}}' ng-attr-stroke-dasharray='{{config.dasharray}}' stroke='#197bbd' stroke-width='2' r='15' stroke-dasharray='70.68583470577033 25.561944901923447' transform='rotate(243.197 50 50)'><animateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 50 50;360 50 50' keyTimes='0;1' dur='1s' begin='0s' repeatCount='indefinite'></animateTransform></circle></svg>";
              document.open();document.write("<!doctype ht"+"ml><ht"+"ml><bo"+"dy><div id='cartLoader' style='min-height:600px;width:100%;text-align:center;background-color: rgba(255, 255, 255, .5);position:absolute;z-index:9999999999'>"+svg+"</div></b"+"ody></ht"+"ml>");document.close();                
              }
              var opcSettings = {checkoutUrl : 'securecheckout', enabled : false, design : 1, skipCart : false, oneClickBuy : false, customJsFile : '', customCssFile : '', btnSelector : '', enablePopup: false, popupHtml : "",popupBkg : '#ffffff',upsells : [],boosters : {"booster1":"0","booster1_text":"","booster1_text2":"","booster1_min":"0","booster2":"0","booster3":"0","booster3_heading":"","booster3_title1":"","booster3_text1":"","booster3_img1":"","booster3_title2":"","booster3_text2":"","booster3_img2":"","booster3_title3":"","booster3_text3":"","booster3_img3":"","booster3_title4":"","booster3_text4":"","booster3_img4":"","booster4":"0","booster4_img":"","booster5":"1"}};
              var opcLang = {completeOrder : "Finalizar a compra", payment : "Pagamento", shippingMethod : "Op\u00e7\u00f5es de Frete", secureCheckout : "Secure Checkout", paymentNotice : "Por favor, preencha os campos anteriores para exibir os m\u00e9todos de pagamento",shippingNotice : "Por favor, preencha os campos anteriores para exibir as op\u00e7\u00f5es de frete",upsellTitle : "Voc\u00ea tamb\u00e9m teria interesse nisso? (opcional)",upsellAdded : "O produto foi adicionado ao checkout com sucesso",addToCheckout : "Selecionar e pagar"};
              </script>
<!--MB_OPC-->

                <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    {% endif %}

    {% include 'social-meta-tags' %}

    <!-- CSS ================================================== -->
    {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    <!-- JS ================================================== -->
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    <script>
      window.password = window.password || {};

      var password = {
        strings: {
          pageClose: {{ 'general.password_page.close' | t | json }}
        }
      }

      window.theme = window.theme || {};
      theme.strings = {
        addressError: {{ 'home_page.map.address_error' | t | json }},
        addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
        authError: {{ 'home_page.map.auth_error_html' | t | json }}
      };
      theme.settings = {
        cartType: {{ settings.cart_type | json }}
      };
    </script>

    {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}

  </head>

  <body class="template-password lancamento">

    <div class="password-page__wrapper">
      {{ content_for_layout }}

      <footer class="password-page__footer" role="contentinfo">
        <div class="password-page__footer_inner">
          &nbsp;
        </div>
      </footer>
    </div>

  </body>
</html>
